@charset "utf-8";
/* CSS Document */

/* productfeature widget */
.productfeature_widget > [class*='col-'] {flex-direction: column;}
.productfeature_widget{display:block;  margin-bottom:20px; padding-left:0; padding-right:0;}
.productfeature_widget .productfeature_container{height:100%; border:1px solid #dfdfdf; padding-right:0; padding-left:0; }
.productfeature_widget h3{font-size: 24px; margin-top: 10px; text-align:center; color: #990000; font-weight: bold;}
.productfeature_widget ul {margin:0px; padding:0px; padding-left:20px; font-size:14px; line-height:19px; letter-spacing:2px;}
.productfeature_widget ul li{margin-bottom:10px;}
.productfeature_widget .productfeature_logo{display:block;  background-color: #f8f7f5;  height:96px; width:100%;}
.productfeature_widget .productfeature_info{margin:15px 0;}
.productfeature_widget .logo{position:relative; height:100%; max-width:100px; margin: 0 auto;}
.productfeature_widget .logo img{width:100%; position:absolute; top:0; margin:22% 0;}
.row-eq-height {display:flex; flex-wrap: wrap; height:100%;}
@media(min-width:992px){
	.productfeature_widget .logo img{top:auto; bottom:0; }
    .productfeature_widget{padding-left:15px; padding-right:15px;}
	}
		