@charset "utf-8";
/* CSS Document */

/* product features */
.prdtBoxCNTR {
	margin-bottom:20px;
}
.prdtInnerRow {
	padding:0px 30px;
}
.prdtInnerCNTR {
	border:solid 1px #e5e5e5;
}
.prdtLogoCNTR {
	padding:0px 50px;
	/*height:280px;
	max-height:300px;*/
}
.prdtLogoCNTR .logoPosition {
	position:relative;
	bottom:-170px;
}
.prdtLogoCNTR .logoPosition img {
	width:100%; height:auto;
}
.prdtBkgdGrey {
	background-color:#f8f7f5;
}
.prdtDetailCNTR {
	background-color:#ffffff;
	padding:10px 20px 30px 20px;
	/*height:280px;
	max-height:300px;*/
}
.prdtDetailCNTR h3 {
	color:#990000;
	font-weight:bold;
}
.prdtDetailCNTR ul {
	margin:0px;
	padding:0px;
	padding-left:20px;
	font-size:14px;
	line-height:20px;
	letter-spacing:2px;
}
.prdtDetailCNTR ul li {
	margin-bottom:10px;
}
.prdtDetailCNTR ul li span {
	letter-spacing:1px;
}
.prdtDetailCNTR ul.subUL {
	list-style:none;
	margin:0px;
	padding:0px;
}
.prdtDetailCNTR ul.subUL li {
	margin-bottom:1px;
}
.prdtDetailCNTR ul.subUL li:first-child {
	margin-top:10px;
}

@media screen and (min-width : 320px) {
	.prdtLogoCNTR {
		padding:0px 15px;
		height:265px;
		max-height:350px;
	}
	.prdtLogoCNTR .logoPosition {
		position:relative;
		bottom:-20px;
	}
	.prdtLogoCNTR .logoPosition img {
		width:100%; height:auto;
	}
	.prdtDetailCNTR {
		padding:0px 15px 15px 15px;
		/*height:265px;
		max-height:380px;*/
	}
	.prdtCNTRbig {
		height:380px;
	}
	.prdtDetailCNTR h3 {
		font-size:17px;
		margin-top:10px;
	}
	.prdtDetailCNTR ul {
		margin:0px;
		padding:0px;
		padding-left:18px;
		font-size:15px;
		line-height:19px;
		letter-spacing:1px;
	}
	.prdtDetailCNTR ul li {
		margin-bottom:10px;
	}
	.prdtDetailCNTR ul li span {
		letter-spacing:0px;
	}
	.prdtDetailCNTR ul.subUL {
		font-size:14px;
		margin:0px;
		padding:0px;
	}
	.prdtDetailCNTR ul.subUL span {
		display:block;
		font-weight:bold;
		margin-bottom:-4px;
	}
	.prdtDetailCNTR ul.subUL li {
		margin-bottom:5px;
	}
}

@media screen and (min-width : 480px) {
	.prdtLogoCNTR {
		padding:0px 45px;
		height:230px;
		max-height:300px;
	}
	.prdtLogoCNTR .logoPosition {
		position:relative;
		bottom:-85px;
	}
	.prdtLogoCNTR .logoPosition img {
		width:100%; height:auto;
	}
	.prdtDetailCNTR {
		padding:10px 20px 20px 20px;
		/*height:230px;
		max-height:300px;*/
	}
	.prdtCNTRbig {
		height:250px;
	}
	.prdtDetailCNTR h3 {
		font-size:20px;
		margin-top:10px;
	}
	.prdtDetailCNTR ul {
		margin:0px;
		padding:0px;
		padding-left:20px;
		font-size:15px;
		line-height:20px;
		letter-spacing:2px;
	}
	.prdtDetailCNTR ul li {
		margin-bottom:10px;
	}
	.prdtDetailCNTR ul li span {
		letter-spacing:1px;
	}
	.prdtDetailCNTR ul.subUL {
		font-size:14px;
		margin:0px;
		padding:0px;
	}
	.prdtDetailCNTR ul.subUL span {
		display:inline-block;
		font-weight:normal;
		margin-bottom:0px;
		margin-right:5px;
	}
	.prdtDetailCNTR ul.subUL li {
		margin-bottom:1px;
	}
}

@media screen and (min-width : 768px) {
	.prdtLogoCNTR {
		padding:0px 50px;
		/*height:280px;
		max-height:300px;*/
	}
	.prdtLogoCNTR .logoPosition {
		position:relative;
		bottom:-190px;
	}
	.prdtLogoCNTR .logoPosition img {
		width:100%; height:auto;
	}
	.prdtDetailCNTR {
		padding:10px 20px 30px 20px;
		/*height:280px;
		max-height:300px;*/
	}
	.prdtCNTRbig {
		height:280px;
	}
	.prdtDetailCNTR h3 {
		font-size:24px;
		margin-top:10px;
	}
	.prdtDetailCNTR ul {
		margin:0px;
		padding:0px;
		padding-left:20px;
		font-size:16px;
		line-height:19px;
		letter-spacing:2px;
	}
	.prdtDetailCNTR ul li {
		margin-bottom:10px;
	}
	.prdtDetailCNTR ul li span {
		letter-spacing:1px;
	}
	.prdtDetailCNTR ul.subUL {
		font-size:15px;
		margin:0px;
		padding:0px;
	}
	.prdtDetailCNTR ul.subUL span {
		display:inline-block;
		font-weight:normal;
		margin-bottom:0px;
		margin-right:5px;
	}
	.prdtDetailCNTR ul.subUL li {
		margin-bottom:3px;
	}
}
@media screen and (min-width: 992px){
.prdtLogoCNTR {padding: 0px 25px;}
}
@media screen and (min-width: 1200px){
.prdtLogoCNTR {padding: 0px 50px;}
}
