@charset "utf-8";
/* CSS Document */

body{margin:0; padding:0; font-family:"微軟正黑體", Arial, Microsoft JhengHei, LiHei Pro Medium, Helvetica, sans-serif; font-weight:normal; font-style:normal;}
.wrapper{width:100%;}
.container{padding-right:20px; padding-left:20px; height:100%; margin:0 auto;}
/* header */
.header-wrapper{width:100%; height:50px; position:fixed; top:0; left:0; z-index:1; background-color:#990000;}
.header{height:100%;}
.header__logo{float:left;}
.header__logo-mobile{display:block; width:86px; height:26px;}
.header__logo-desktop{display:none;}
.header__logo-mobile a{display:block; width:86px; height:30px; margin:12px 0; background-image:url("../images/logo_hketplus.png"); background-repeat:no-repeat; background-size:86px}
.header__logo-desktop a{display:block; width:86px; height:30px; margin:12px 0; background-image:url("../images/logo_hketplus.png"); background-repeat:no-repeat; background-size:86px}
.header__button{float:right; height:50px;}
.header__button ul{margin:0; padding:0; list-style:none;}
.header__button ul li{display:inline-block; font-size:16px; line-height:30px;}
.header__button-left a, .header__button-right a{display:block; padding:10px 0 10px 15px; text-align:center; text-decoration:none; color:#fff;}
/* .header__button-right a{color:#ff9900;} */
/* Terry Yip */
.header__button_active a{color:#ff9900;}
.header__button-left a:hover, .header__button-right a:hover{color:#ff9900;}
/* banner */
.banner-wrapper{width:100%; height:100%; padding:20px 0 40px; margin-top:50px; background:url("../images/banner_background_hketplus_01.jpg") no-repeat center;}
.banner__col-01 .banner__img img{max-width:100%;}
.banner__col-01{height:100%; text-align:center;}
.col-lg-8.banner__col-01{float:right;}
/*.banner__col-02{}*/
.banner__col-02{float:left;}
.banner__icon img{display:inline-block; width:45px; height:45px; margin:0 2px;}
.banner__logo{display:none;}
.banner__img{margin:0px;}
.banner__col-01, .banner__col-02{height:auto;}
.banner__desc{margin-top:0px; margin-left:0px;}
.banner__text{padding:0 0 15px 0; text-align:center; font-size:30px; line-height:36px; color:#fff;}
.banner__icon{text-align:center;}
/*content */
.section-wrapper{width:100%; height:100%;}
.section-bg-color{background-color:#fffaf5;}
.section__content{margin:0 15px 30px;}
/* flag css */
.flag{height:44px; margin-top:30px; margin-bottom:30px;}
.flag__title{display:inline-block; float:left; min-width:230px; height:44px; background-color:#fe6612; color:#FFFFFF; line-height:44px;}
.flag__img{display:inline-block; float:left; width:22px; height:44px;}
.flag__en{font-family:Arial, Helvetica, sans-serif; font-size:20px; margin-left:20px;}
.flag__chi{font-size:20px; margin:0 10px 0;}
.flag__italic{font-family:Arial, Helvetica, sans-serif; font-size:20px; font-style:italic;}
/*section01*/
.section__title-name{padding:50px 0 20px; text-align:center; font-size:29px; color:#cc0000;}
.section__content-decs{width:100%; margin-bottom:20px; text-align:left; font-size:18px; color:#fe6612;}
.section__content-01 .section__content-img{margin-bottom:30px; border:1px solid #ffcc99; overflow:hidden;}
.section__content-01 .section__content-img img{width:150%; float:right;}
.section__content-01 .section__content-img .fix-center{float:none; position:relative; max-width:150%; margin-left:-23%;}
/*section02*/
.section__content-02 .nav-tabs li{width:50%; height:60px; border-radius:0; border: 1px solid #ffcc99; text-align:center; font-size:18px; color:#ff6611; background-color:#fbe5cb;}
.section__content-02 .nav-tabs li.tab-btn{border-right:0;}
.section__content-02 .nav-tabs li a{margin-right:0px; padding:16px 0 18px; border-radius:0; border:0; color:#ff6611;}
.section__content-02 .nav-tabs li a:hover{padding:16px 0 17px; border-radius:0; border:0; background-color:#ff9933; color:#fff;}
.section__content-02 .nav-tabs li a:focus{border:0; color:#ff6611;}
.tab-content-container{padding:30px 16px 16px; border:1px solid #ffcc99; border-top:0; background-color:#fff;}
.section__content-02 .section__content-img {margin-bottom:30px; border:1px solid #ffcc99; overflow:hidden;}
.section__content-02 .section__content-img:last-child{margin-bottom:0;}
.section__content-02 .section__content-img img{width:150%; float:left;}
/*section03*/
.section__content-03 .section__content-img{margin-bottom:30px; border:1px solid #ffcc99; overflow:hidden;}
.section__content-03 .section__content-img img{width:150%; float:left;}
/*section04*/
.section__content-04 .section__content-img{margin-bottom:30px; border:1px solid #ffcc99; overflow:hidden;}
.section__content-04 .section__content-img img{width:150%; float:left;}
/*section05*/
.section__content-05 .section__content-img{margin-bottom:30px; border:1px solid #ffcc99; overflow:hidden;}
.section__content-05 .section__content-img img{width:150%; float:left; margin-left:0;}
.section__content-05 .section__content-img .fix-center{float:none; position:relative; max-width:150%; margin-left:-25%;}
.section__content-05 .section__content-img .full-width{float:none; position:relative; max-width:100%;}
/*section06*/
.section__content-06 .section__content-img{margin-bottom:30px; border:1px solid #ffcc99; overflow:hidden;}
.section__content-06 .section__content-img img{width:150%; float:left;}
/*contact us*/
.contact-wrapper{display:block; width:100%;}
.contact__content{display:block; padding:80px 15px 30px; font-size:15px; text-align:center;}
.contact__content a{text-decoration:none;}
/*footer*/
.footer-wrapper{display:block; width:100%; height:auto; padding:30px 0; text-align:center; background-color:#e3e3e3;}
.footer__link{display:table; margin:0 auto;}
.footer__link div{display:inline-block;}
.footer__link div:after{content:"|"; display:inline-block; margin:0 10px;}
.footer__link div:last-child:after{content:"";}
.footer__link a{display:inline-block; text-decoration:none; font-size:15px; line-height:25px; color:#000;}
.footer__link a:hover{color:#999;}
/*back to top*/
.back2top__button{height:51px; width:51px; position:fixed; bottom:20px; right:20px; padding:0; border:0; z-index:9999; cursor:pointer; background-size:51px; background-image:url("../images/btn_top_active.png"); background-repeat:no-repeat; opacity:0.7;}

@media (min-width: 430px){
.header__button ul li{font-size:18px;}
.header__button-left a, .header__button-right a{padding:10px 0 10px 32px;}
.banner__text{font-size:34px;}
.banner__icon img{margin:0 5px;}
/*content */
.section__title-name{font-size:38px;}
.section__content-01 .section__content-img img{width:150%; float:right;}
.section__content-02 .section__content-img img{width:150%; float:left;}
.section__content-03 .section__content-img img{width:150%; float:left;}
.section__content-04 .section__content-img img{width:150%; float:left;}
.section__content-05 .section__content-img img{width:150%; float:left;}
.section__content-06 .section__content-img img{width:150%; float:left;}
}

@media (min-width: 768px){
/* header*/
.container{width:750px;}
.section__content{margin:0 15px 30px;}
.header__logo-mobile{display:none;}
.header__logo-desktop{display:block;}
/*banner */
.banner-wrapper{height:420px; padding:0;}
.banner__logo{display:none;}
.banner__img{margin:0px;}
.banner__col-01, .banner__col-02{height:auto;}
.banner__desc{margin-top:0px; margin-left:0px;}
.banner__text{padding:0 0 15px 0; text-align:center; font-size:24px; line-height:36px;}
.banner__icon{text-align:center;}
/*content */
.tab-content-container{padding:30px; margin-bottom:0; border:1px solid #ffcc99; border-top:0; background-color:#fff;}
.fix-center{float:none; position:relative; max-width:100%; margin-left:0;}
.section__content-01 .section__content-img img{float:left; width:100%;}
.section__content-01 .section__content-img .fix-center{max-width:100%; margin:0;}
.section__content-02 .section__content-img img{float:left; width:100%;}
.section__content-03 .section__content-img img{float:left; width:100%;}
.section__content-04 .section__content-img img{float:left; width:100%; margin:0;}
.section__content-04 .offline .section__content-img img{float:left; width:100%; margin:0;}
.section__content-05 .section__content-img img{float:left; width:100%; margin-left:0;}
.section__content-05 .section__content-img .fix-center{width:100%; margin-left:0;}
.section__content-06 .section__content-img img{float:left; width:100%;}
}

@media (min-width: 992px){
/*banner */
.banner-wrapper{height:320px;}
.banner__img{margin-top:34px; margin-bottom:34px;}
.banner__desc{margin-top:64px; margin-left:15px;}
.banner__logo{display:block;}
.banner__text{padding:15px 0; font-size:33px; line-height:36px; text-align:left;}
.banner__icon img{width:40px; height:40px; margin:0px 2px;}
.banner__icon{text-align:left;}
/*content */
.section__content{margin:0 15px 30px;}
.tab__content{margin:0 15px 50px;}
.section__content-02 .section__content-img img{width:100%; float:left;}
.section__content-01 .section__content-img img{float:left; width:100%;}
.section__content-01 .section__content-img .fix-center{float:none; position:relative; width:100%; margin-left:0;}
.section__content-05 .section__content-img .fix-center{float:none; position:relative; width:100%;}
}

@media (min-width: 1024px){
.container{width:980px;}
/*banner */
.banner__img{float:right; margin-top:15px; margin-bottom:15px;}
.banner__desc{margin-top:45px;}
.banner__logo{}
.banner__text{font-size:33px; line-height:56px;}
}
