@charset "utf-8";
/* CSS Document */

/* top nav bar */
.imgLogo {
	width:30%;
	height:auto;
	padding-top:5px;
}
.navbarPlus {
	border-radius:0px;
	background-color:#930000;
	border:0px;
	margin-bottom:0px;
}
.navbar-header { text-align:center; }
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color:#ef7711;
}
.collapsePlus {
	border:0px;
	font-size:17px;
	letter-spacing:1px;
}
.navbar-inverse .navbar-nav>li>a { color:#ffffff; }
.navbar-inverse .navbar-nav>li>a:hover { color:#fbad05; }
.navbar-inverse .navbar-toggle:hover { background-color:#93070b; }


/* lead in text */
.leadinCNTR {
	text-align:center;
	padding:50px 20px 0px 20px;
	font-size:20px;
	line-height:32px;
	letter-spacing:1px;
}
.leadinCNTR span { color:#ee8800; }

/* download */
.dlBttnRow {
	padding-bottom:5px;
	margin-bottom:25px;
	border-bottom:solid 1px #CCCCCC;
}
.dlVerLogo img {
	width:50%; height:auto;
}
.dlVerTxt {
	text-align:center;
	font-size:20px;
	letter-spacing:5px;
	color:#999999;
	padding:0px 0px 20px 0px;
}
.dlVerTxt .dlBttn {
	width:200px;
	padding:8px 10px 8px 50px;
	background-color:#FFFFFF;
	display:inline-table;
	border:solid 1px #ffffff;
	cursor:pointer;
}
.dlVerTxt .dlBttn:hover {
	border:solid 1px #cc0000;
}
.dlVerTxt .dlBttn a {
	color:#000000;
}
.dlVerTxt .dlBttn a:hover {
	color:#000000;
	text-decoration:none;
}
.dlBttn .bttnLogo {
	float:left;
}
.dlBttn .bttnTxt {
	float:left;
	padding:2px 0px 0px 6px;
}
.dlBttmPic {
	padding-left:10%; padding-right:10%;
}

/* FAQ */
.panel-group .panel.panelCNTR {
	margin-bottom:15px;
	padding:3px;
	letter-spacing:1px;
}
.panel-headingPlus {
	padding:15px;
}
.panelQns a { color:#000000; }
.panelQns a:visited { color:#000000; }
.panelQns a:hover { color:#93070b; }
.panel-bodyPlus {
	font-size:16px;
	color:#999999;
}
.panel-bodyPlus table tr td a { color:#93070b; }
.panel-bodyPlus table tr td a:visited { color:#93070b; }
.panel-bodyPlus table tr td a:hover { color:#93070b; }

/* order */
.containerOrder {
	background:url(https://plus.hket.com/res/image/plus/landing/reg_section_bg.jpg) top center no-repeat;
}
.orderBoxWht {
	padding:16px;
	background-color:#FFFFFF;
	text-align:center;
	max-height:145px;
}
.orderBoxYllw {
	padding:16px;
	background-color:#ffcc55;
	text-align:center;
	height:auto;
	max-height:145px;
}
.orderMemType {
	padding:5px 0px 15px 0px;
	font-size:14px;
	letter-spacing:2px;
	color: #ff0000;
}
.orderMemBttn {
	padding:15px;
	background-color:#cc0000;
	font-size:18px;
	color:#ffffff;
	letter-spacing:2px;
	border:solid 1px #cc0000;
	cursor:pointer;
}
.orderMemBttn a {
	color:#ffffff;
	text-decoration:none;
}
.orderMemBttn:hover {
	background-color:#ffffff;
	color:#000000;
}
.orderMemBttn:hover a {
	background-color:#ffffff;
	color:#cc0000;
}
.demoLink {
	text-align:center;
	padding-top:25px;
}
.demoLink a { color:#000000; text-decoration:underline; }
.demoLink a:visited { color:#000000; text-decoration:underline; }
.demoLink a:hover { color:#98070c; text-decoration:underline; }

/* contact us */
.contactRow {
	font-size:18px;
	letter-spacing:1px;
	margin-bottom:13px;
}
.contactRow .contSubj {
	text-align:right;
}
.contSubj span {
	font-size:30px;
	margin-right:10px;
	vertical-align:middle;
}
.contSubj span.contSubjTxt {
	font-size:18px;
	letter-spacing:1px;
}
.contactRow .contInfo {
	margin-left:-20px;
}
.contInfo a { color:#000000; }
.contInfo a:visited { color:#000000; }
.contInfo a:hover { color:#c50000; }

/* ------------ Media ------------ */
@media screen and (min-width : 320px) {
	.imgLogo {
		width:34%;
		padding-top:9px;
		padding-left:30px;
	}
	.navbar-header { text-align:center; }
	.leadinCNTR {
		font-size:19px;
		line-height:27px;
		letter-spacing:0px;
	}
	/* download */
	.dlVerLogo img {
		width:90%; height:auto;
	}
	.dlVerTxt {
		font-size:16px;
		letter-spacing:3px;
		padding:0px 0px 10px 0px;
	}
	.dlVerTxt .dlBttn {
		width:100px;
		padding:8px 8px;
		margin-bottom:7px;
	}
	.dlBttn .bttnLogo img {
		width:85%; height:auto;
	}
	.dlBttmPic {
		margin-left:0%; margin-right:0%;
	}
	.dlBttmPic img {
		width:105%;
	}
	/* order */
	.orderBoxWht {
		padding:10px;
	}
	.orderBoxYllw {
		padding:10px;
		height:132px;
	}
	.orderMemType {
		padding:5px 0px 5px 0px;
		letter-spacing:0px;
	}
	.orderBoxYllw .orderMemBttn {
		/*padding:28px 15px;*/
		height:80px;
	}
	/* contact us */
	.contactRow {
		font-size:15px;
		letter-spacing:0px;
		margin-bottom:13px;
	}
	.contSubj span {
		font-size:23px;
		margin-right:3px;
	}
	.contSubj span.contSubjTxt {
		display:none;
	}
}

@media screen and (min-width : 480px) {
	.imgLogo {
		width:20%;
		padding-top:5px;
		padding-bottom:6px;
	}
	.navbar-header { text-align:center; }
	.leadinCNTR {
		font-size:20px;
		line-height:32px;
		letter-spacing:1px;
	}
	/* download */
	.dlVerLogo img {
		width:60%; height:auto;
	}
	.dlVerTxt {
		font-size:16px;
		letter-spacing:3px;
		padding:0px 0px 10px 0px;
	}
	.dlVerTxt .dlBttn {
		width:150px;
		padding:8px 10px 8px 30px;
		margin-bottom:7px;
	}
	.dlBttn .bttnLogo img {
		width:85%; height:auto;
	}
	.dlBttmPic {
		margin-left:2%; margin-right:2%;
	}
	.dlBttmPic img {
		width:100%; height:auto;
	}
	/* order */
	.orderBoxWht {
		padding:16px;
	}
	.orderBoxYllw {
		padding:16px;
		height:auto;
	}
	.orderMemType {
		padding:5px 0px 15px 0px;
		letter-spacing:2px;
	}
	.orderBoxYllw .orderMemBttn {
		padding:15px;
		height:auto;
	}
	/* contact us */
	.contactRow {
		font-size:18px;
		letter-spacing:1px;
		margin-bottom:13px;
	}
	.contSubj span {
		font-size:23px;
		margin-right:3px;
	}
	.contSubj span.contSubjTxt {
		display:none;
	}
}

@media screen and (min-width : 768px) {
	.imgLogo {
		width:130px;
		padding-top:7px;
		padding-bottom:0px;
	}
	.navbar-header { text-align:left; }
	.leadinCNTR {
		font-size:19px;
		line-height:32px;
		letter-spacing:1px;
	}
	/* download */
	.dlVerLogo img {
		width:65%; height:auto;
	}
	.dlVerTxt {
		font-size:20px;
		letter-spacing:5px;
		padding:0px 0px 20px 0px;
	}
	.dlBttn .bttnLogo img {
		width:100%; height:auto;
	}
	.dlVerTxt .dlBttn {
		width:200px;
		padding:8px 10px 8px 50px;
		margin-bottom:7px;
	}
	.dlBttmPic {
		margin-left:10%; margin-right:10%;
	}
	.dlBttmPic img {
		width:110%; height:auto;
	}
	/* order */
	.orderBoxWht {
		padding:16px;
	}
	.orderBoxYllw {
		padding:16px;
		height:auto;
	}
	.orderMemType {
		padding:5px 0px 15px 0px;
		letter-spacing:2px;
	}
	.orderBoxYllw .orderMemBttn {
		padding:15px;
		height:auto;
	}
	/* contact us */
	.contactRow {
		font-size:18px;
		letter-spacing:1px;
		margin-bottom:13px;
	}
	.contSubj span {
		font-size:30px;
		margin-right:10px;
	}
	.contSubj span.contSubjTxt {
		display:inline-block;
		font-size:18px;
		letter-spacing:2px;
	}	
}