@charset "utf-8";
/* CSS Document */

/* Extra small devices (phones, less than 430px) */
/* No media query since this is the default in Bootstrap */
body{min-width:300px; font-family: 'Noto Sans TC', sans-serif; -webkit-overflow-scrolling:touch; color:#000;}
body.modal-open .mm-slideout{z-index:inherit;}
body.modal-open header{margin-right:-17px;}
library{display:block; width:100%; height:100%; clear:both;}

.mobile-view{display:block;}
@media(min-width:992px){
	.mobile-view{display:none;}
}
.desktop-view{display:none;}
@media(min-width:992px){
	.desktop-view{display:block;}
}

@font-face {
	font-family:'hket-icon';
	src:url('../fonts/hket-icon.eot');
	src:url('../fonts/hket-icon.eot#iefix') format('embedded-opentype'),
		url('../fonts/hket-icon.ttf') format('truetype'),
		url('../fonts/hket-icon.woff') format('woff'),
		url('../fonts/hket-icon.svg#hket-icon') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'weather';
	src:url('../fonts/weather.eot');
	src:url('../fonts/weather.eot') format('embedded-opentype'),
		url('../fonts/weather.ttf') format('truetype'),
		url('../fonts/weather.woff') format('woff'),
		url('../fonts/weather.svg#weather') format('svg');
	font-weight:normal;
	font-style:normal;
}

[class^="hket-icon-"], [class*=" hket-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family:'hket-icon' !important;
}

[class^="weather-icon-"], [class*=" weather-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family:'weather' !important;
}

[class^="hket-icon-"], [class*=" hket-icon-"], [class^="weather-icon-"], [class*=" weather-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak:none;
  font-style:normal;
  font-weight:normal;
  font-variant:normal;
  text-transform:none;
  line-height:1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

[class*="hket-icon-"]:before, [class*="weather-icon-"]:before, [class^="hket-icon-"]:before, [class^="weather-icon-"]:before{ content:attr(data-icon);}


.col-lg-5-12, .col-lg-5-8, .col-lg-5-6, .col-lg-5-4, .col-lg-5-2, .col-md-5-12, .col-md-5-8, .col-md-5-6, .col-md-5-4, .col-md-5-2, .col-sm-5-12, .col-sm-5-8, .col-sm-5-6, .col-sm-5-4, .col-sm-5-2, .col-xs-5-12, .col-xs-5-8, .col-xs-5-6, .col-xs-5-4, .col-xs-5-2, .col-lg-8-12, .col-md-8-12, .col-sm-8-12, .col-xs-8-12, .col-lg-10-12, .col-md-10-12, .col-sm-10-12, .col-xs-10-12{position:relative; min-height:1px; padding-right:15px; padding-left:15px;}
.col-xs-5-12{float:left; width:100%;}
.col-xs-5-8{float:left; width:80%;}
.col-xs-5-6{float:left; width:60%;}
.col-xs-5-4{float:left; width:40%;}
.col-xs-5-2{float:left; width:20%;}
.col-xs-7-12{float:left; width:14.3%;}
.col-xs-8-12{float:left; width:12.5%;}
.col-xs-9-12{float:left; width:11.1%;}
.col-xs-10-12{float:left; width:10%;}
.col-xs-11-12{float:left; width:9.09%}

/* middle Small devices (phones, less than 768px) */
@media (min-width: 430px) {
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
.col-sm-5-12{float:left; width:100%;}
.col-sm-5-8{float:left; width:80%;}
.col-sm-5-6{float:left; width:60%;}
.col-sm-5-4{float:left; width:40%;}
.col-sm-5-2{float:left; width:20%;}
.col-sm-7-12{float:left; width:14.3%;}
.col-sm-8-12{float:left; width:12.5%;}
.col-sm-9-12{float:left; width:11.1%;}
.col-sm-10-12{float:left; width:10%;}
.col-sm-11-12{float:left; width:9.09%}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
.col-md-5-12{float:left; width:100%;}
.col-md-5-8{float:left; width:80%;}
.col-md-5-6{float:left; width:60%;}
.col-md-5-4{float:left; width:40%;}
.col-md-5-2{float:left; width:20%;}
.col-md-7-12{float:left; width:14.3%;}
.col-md-8-12{float:left; width:12.5%;}
.col-md-9-12{float:left; width:11.1%;}
.col-md-10-12{float:left; width:10%;}
.col-md-11-12{float:left; width:9.09%}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
.col-lg-5-12{float:left; width:100%;}
.col-lg-5-8{float:left; width:80%;}
.col-lg-5-6{float:left; width:60%;}
.col-lg-5-4{float:left; width:40%;}
.col-lg-5-2{float:left; width:20%;}
.col-lg-7-12{float:left; width:14.3%;}
.col-lg-8-12{float:left; width:12.5%;}
.col-lg-9-12{float:left; width:11.1%;}
.col-lg-10-12{float:left; width:10%;}
.col-lg-11-12{float:left; width:9.09%}
}

.col-offset-215:after, .col-offset-330:after{content:''; display:block; padding-top:15px; margin-bottom:15px; border-bottom:1px solid #dfdfdf; clear:both;}

@media (min-width: 768px){
/* 3 column widget */
/*.col-fixed-73{min-width:88px; max-width:88px;}
.col-fixed-330{min-width:330px; max-width:330px;}
.col-fixed-330 library:last-child > div{margin-bottom:0;} 
.col-offset-73{width:calc(100% - 88px);}
.col-offset-330{padding-right:10px; width:calc(100% - 330px); z-index:4;}
.col-offset-330:after{display:none;}*/
}

@media (min-width: 992px){
.col-fixed-330{min-width:330px; max-width:330px;}
.col-fixed-330 library:last-child > div{margin-bottom:0;} 
.col-offset-330{padding-right:10px; width:calc(100% - 330px); z-index:4;}
.col-offset-330:after{display:none;}
.vectical-line-right{border-right:1px solid #dfdfdf;}
}

@media (min-width: 1200px){
.vectical-line-left{border-left:1px solid #dfdfdf;}
/* 3 column widget */
.col-fixed-215{min-width:215px; max-width:215px;}
.col-offset-215{padding-left:0; width:calc(100% - 215px);}
.col-offset-215:after{display:none;}
}

/* Bootstrap Customize */
.container-fluid{padding:0;}
@media (min-width: 1300px){.container{width:1250px;}}
@media (min-width: 1400px){.container{width:1350px;}}
.ios-sticky{-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0);}
.sticky{overflow:hidden; overflow-y:auto; -webkit-overflow-scrolling:touch;}
/*.ios-sticky{position:-webkit-sticky; position:-moz-sticky; position:-o-sticky; position:-ms-sticky; position:sticky; top:0; z-index:1;}*/

@media (min-width: 992px){	
.equal{display:-webkit-flex; display:flex; -webkit-flex-direction:row; flex-wrap:wrap; flex-direction:row}
.equal > div[class*='col-']{display:flex; flex-direction:column;}
}

/* Global CSS */
.font-en{font-family:Arial, sans-serif;}
.margin-none{margin:0;}
.padding-none{padding:0;}
.padding-left-none{padding-left:0;}
a, a:focus, a:hover, a:active{display:block; text-decoration:none;} 
ul{margin:0; padding:0; list-style:none;}
.container-img {position:relative; overflow:hidden; width:100%; height:200px;}
.container-img img{position:absolute; top:0; left:0; right:0; margin:auto; width:100%;}
.float-left{float:left;}
.float-right{float:right;}
.vectical-line-left{border:0;}
.vectical-line-right{border:0;}
.gainers{color:#11cc33;}
.gainers-bg-color{background-color:#11cc33;}
.losers{color:#ff0000;}
.losers-bg-color{background-color:#ff0000;}
.horizontal-line{margin:15px 0; border-bottom:1px solid #dfdfdf;}
.horizontal-line-section{margin-top:15px; margin-bottom:50px; border-bottom:1px solid #dfdfdf;}
.content-wrapper{background-color:#fff;}
.dotted{height:9px; background-image:-webkit-repeating-radial-gradient(center center, rgba(0,34,51,.2), rgba(0,34,51,.2) 1px, transparent 1px, transparent 100%); background-image:-moz-repeating-radial-gradient(center center, rgba(0,34,51,.2), rgba(0,34,51,.2) 1px, transparent 1px, transparent 100%); background-image:-ms-repeating-radial-gradient(center center, rgba(0,34,51,.2), rgba(0,34,51,.2) 1px, transparent 1px, transparent 100%); background-image:repeating-radial-gradient(center center, rgbargba(0,34,51,.2), rgba(0,34,51,.2) 1px, transparent 1px, transparent 100%); -webkit-background-size:3px 3px; -moz-background-size:3px 3px; background-size:3px 3px;}
.section-break{margin-bottom:20px;}
.separate-line:after{content:''; display:block; margin-top:8px; margin-bottom:8px; border-bottom:1px solid #dfdfdf;}
footer{position:relative; z-index:-1;}
@media (min-width: 768px){
footer{position:static; z-index:auto;}
}

/* modal */
.modal-backdrop.in{opacity:0.75;}

/* color */
.color-001-bg{background-color:#c02;} /* home */
.color-001-cl{color:#c02;} /* home */
.color-001-cc{color:#667a85}/* hket icon channel */
.color-001-bl{border-top:2px solid #c02; border-bottom:1px dotted #dfdfdf;} /* home */
.color-001-bb{border-bottom:2px solid #c02 !important;} /* home */
.color-001-tb{background-color:#f7d6dc;} /* home */
.color-002-bg{background-color:#1a0;} /* inew */
.color-002-cl{color:#1a0;} /* inew */
.color-002-bl{border-top:2px solid #1a0; border-bottom:1px dotted #dfdfdf;} /* inew */
.color-002-bb{border-bottom:2px solid #1a0 !important;} /* inew */
.color-002-tb{background-color:#eef7ec;} /* inew */
.color-003-bg{background-color:#f70;} /* invest */
.color-003-cl{color:#f70;} /* invest */
.color-003-bl{border-top:2px solid #f70; border-bottom:1px dotted #dfdfdf;} /* invest */
.color-003-bb{border-bottom:2px solid #f70 !important;} /* invest */
.color-003-tb{background-color:#fff4ee;} /* invest */
.color-004-bg{background-color:#8b0000;;} /* china */
.color-004-cl{color:#8b0000;} /* china */
.color-004-bl{border-top:2px solid #8b0000; border-bottom:1px dotted #dfdfdf;} /* china */
.color-004-bb{border-bottom:2px solid #8b0000 !important;} /* china */
.color-004-tb{background-color:#f6ebeb}/* china top bar*/
.color-005-bg{background-color:#6600cc;} /* opinion */
.color-005-cl{color:#6600cc;} /* opinion */
.color-005-bl{border-top:2px solid #6600cc; border-bottom:1px dotted #dfdfdf;} /* opinion */
.color-005-bb{border-bottom:2px solid #6600cc !important;}
.color-006-bg{background-color:#ee1111;} /* topick */
.color-006-cl{color:#ee1111;} /* topick */
.color-006-bl{border-top:2px solid #ee1111; border-bottom:1px dotted #dfdfdf;} /* topick */
.color-006-bb{border-bottom:2px solid #ee1111 !important;} /* topick */
.color-007-bg{background-color:#0066cc;} /* epc */
.color-007-cl{color:#0066cc;} /* epc */
.color-007-bl{border-top:2px solid #0066cc; border-bottom:1px dotted #dfdfdf;} /* epc */
.color-007-bb{border-bottom:1px solid #0066cc !important;} /* epc */
.color-007-tb{background-color:#f5f7fa;} /* epc */
.color-008-bg{background-color:#ffaa11;} /* feature */
.color-008-cl{color:#ffaa11;} /* feature */
.color-008-bl{border-top:2px solid #ffaa11; border-bottom:1px dotted #dfdfdf;} /* feature */
.color-008-bb{border-bottom:2px solid #ffaa11 !important;} /* feature */
.color-008-tb{background-color:#fffaf1;} /* feature */
.color-009-bg{background-color:#113388;} /* video */
.color-009-cl{color:#113388;} /* video */
.color-009-bl{border-top:2px solid #113388; border-bottom:1px dotted #dfdfdf;} /* video */
.color-009-tb{background-color:#e8ebf3;} /* video */
.color-009-bb{border-bottom:2px solid #113388 !important;} 
.color-010-bg{background-color:#968d7b;} /* luxury */
.color-010-cl{color:#968d7b;} /* luxury */
.color-010-bl{border-top:2px solid #968d7b; border-bottom:1px dotted #bbb199;} /* luxury */
.color-010-bb{border-bottom:2px solid #968d7b !important;} /* luxury */
.color-010-tb{background-color:#f1efeb;} /* luxury */
.color-011-bg{background-color:#a3001b;} /* hket */
.color-011-cl{color:#a3001b;} /* hket */
.color-011-bl{border-top:2px solid #a3001b; border-bottom:1px dotted #dfdfdf;} /* hket */
.color-011-bb{border-bottom:2px solid #a3001b !important;} /* hket */
.color-011-tb{background-color:#fffbfb;} /* hket */
.color-012-bg{background-color:#dd0011;} /* imoney */
.color-012-cl{color:#dd0011;} /* imoney */
.color-012-bl{border-top:2px solid #dd0011; border-bottom:1px dotted #dfdfdf;} /* imoney */
.color-012-bb{border-bottom:2px solid #dd0011 !important;} /* imoney */
.color-013-bg{background-color:#002233;} /* recommendation widget */
.color-013-cl{color:#002233;} /* recommendation widget */
.color-013-bl{border-top:2px solid #002233; border-bottom:1px dotted #dfdfdf;} /* recommendation widget */
.color-013-bb{border-bottom:1px solid #002233 !important;} /* recommendation widget */
.color-013-tb{background-color:#ccd3d6;} /* recommendation widget */
.color-014-bg{background-color:#1c0e55;} /* world cup */
.color-014-cl{color:#1c0e55;} /* world cup */
.color-014-bl{border-top:2px solid #1c0e55; border-bottom:1px dotted #dfdfdf;} /* world cup */
.color-014-bb{border-bottom:2px solid #1c0e55 !important;} /* world cup */
.color-014-tb{background-color:#f0edfb;} /* world cup */
.color-015-bb{border-bottom:1px solid #fff !important;} /* personazation widget */
.color-015-cc{color:#fff;} /* personazation widget */
.color-016-cl{color:#32aee4;} /* ipaper */
.color-016-bg{background-color:#32aee4;} /* ipaper */
.color-101-bg{background-color:#002233;} /* dark blue */
.color-101-cl{color:#002233;} /* dark blue */
.color-101-bl{border-top:2px solid #002233; border-bottom:1px dotted #dfdfdf;} /* dark blue */
.color-102-bg{background-color:#fff;} /* white */
.color-102-cl{color:#fff;} /* white */
.color-102-bl{border-top:2px solid #bbb199; border-bottom:1px dotted #dfdfdf;} /* white */
.color-103-cl{color:#333;}
.color-103-bg{background-color:#333;}
.color-104-bg{background-color:#cd853f;} /* emagazine 01 widget */
.color-105-bg{background-color:#2176ae;} /* emagazine 02 widget */
.color-106-bg{background-color:#efefef;} /* emagazine 02 widget */
.color-107-bg{background-color:#777;} /* standard grey - background */
.color-107-cl{color:#777;} /* standard grey - color */
.color-108-bg{background-color:#005c99;} /* bookmark folder default color */
.color-109-bg{background-color:#fcbd5c;} /* bookmark folder color */
.color-110-bg{background-color:#faac30;} /* bookmark folder color */
.color-111-bg{background-color:#e6b777;} /* bookmark folder color */
.color-112-bg{background-color:#b79777;} /* bookmark folder color */
.color-113-bg{background-color:#cfd330;} /* bookmark folder color */
.color-114-bg{background-color:#9ccc24;} /* bookmark folder color */
.color-115-bg{background-color:#6eac09;} /* bookmark folder color */
.color-116-bg{background-color:#89d908;} /* bookmark folder color */
.color-117-bg{background-color:#14b499;} /* bookmark folder color */
.color-118-bg{background-color:#7e8c8d;} /* bookmark folder color */
.color-119-bg{background-color:#8cd0fd;} /* bookmark folder color */
.color-120-bg{background-color:#62bfff;} /* bookmark folder color */
.color-121-bg{background-color:#019aff;} /* bookmark folder color */
.color-122-bg{background-color:#5e65a9;} /* bookmark folder color */
.color-123-bg{background-color:#9d76ff;} /* bookmark folder color */
.color-124-bg{background-color:#bea6ff;} /* bookmark folder color */
.color-125-bg{background-color:#f600ff;} /* bookmark folder color */
.color-126-bg{background-color:#f825b0;} /* bookmark folder color */
.color-127-bg{background-color:#0000ff;} /* bookmark folder color */
.color-128-bg{background-color:#b647ca;} /* bookmark folder color */
.color-129-bg{background-color:#7a005d;} /* bookmark folder color */
.color-130-bg{background-color:#e70000;} /* bookmark folder color */
.color-131-bg{background-color:#a42100;} /* bookmark folder color */
.color-132-bg{background-color:#3c0e00;} /* bookmark folder color */
.color-133-bg{background-color:#ff7800;} /* bookmark folder color */
.color-134-bg{background-color:#ffff00;} /* bookmark folder color */
.color-135-bg{background-color:#ffdc24;} /* bookmark folder color */
.color-136-bg{background-color:#ff6e93;} /* bookmark folder color */
.color-137-bg{background-color:#52dcd8;} /* bookmark folder color */
.color-138-bg{background-color:#306df9;} /* subscription plans */
.color-138-cl{color:#306df9;} /* subscription plans */

/* main menu - button */
.menu-001-btn:hover, .menu-001-btn:active, .menu-001-btn:focus, .menu-001-btn.active, .open > .menu-001-btn:focus, .open > .menu-001-btn[aria-expanded=true]{background-color:#cc0022 !important; color:#fff !important;}
.menu-002-btn:hover, .menu-002-btn:active, .menu-002-btn:focus, .menu-002-btn.active, .open > .menu-002-btn:focus, .open > .menu-002-btn[aria-expanded=true]{background-color:#11aa00 !important; color:#fff !important;}
.menu-003-btn:hover, .menu-003-btn:active, .menu-003-btn:focus, .menu-003-btn.active, .open > .menu-003-btn:focus, .open > .menu-003-btn[aria-expanded=true]{background-color:#FF7700 !important; color:#fff !important;}
.menu-004-btn:hover, .menu-004-btn:active, .menu-004-btn:focus, .menu-004-btn.active, .open > .menu-004-btn:focus, .open > .menu-004-btn[aria-expanded=true]{background-color:#aa0000 !important; color:#fff !important;}
.menu-005-btn:hover, .menu-005-btn:active, .menu-005-btn:focus, .menu-005-btn.active, .open > .menu-005-btn:focus, .open > .menu-005-btn[aria-expanded=true]{background-color:#6600cc !important; color:#fff !important;}
.menu-006-btn:hover, .menu-006-btn:active, .menu-006-btn:focus, .menu-006-btn.active, .open > .menu-006-btn:focus, .open > .menu-006-btn[aria-expanded=true]{background-color:#ee1111 !important; color:#fff !important;}
.menu-007-btn:hover, .menu-007-btn:active, .menu-007-btn:focus, .menu-007-btn.active, .open > .menu-007-btn:focus, .open > .menu-007-btn[aria-expanded=true]{background-color:#0066cc !important; color:#fff !important;}
.menu-008-btn:hover, .menu-008-btn:active, .menu-008-btn:focus, .menu-008-btn.active, .open > .menu-008-btn:focus, .open > .menu-008-btn[aria-expanded=true]{background-color:#ffaa11 !important; color:#fff !important;}
.menu-009-btn:hover, .menu-009-btn:active, .menu-009-btn:focus, .menu-009-btn.active, .open > .menu-009-btn:focus, .open > .menu-009-btn[aria-expanded=true]{background-color:#113388 !important; color:#fff !important;}
.menu-010-btn:hover, .menu-010-btn:active, .menu-010-btn:focus, .menu-010-btn.active, .open > .menu-010-btn:focus, .open > .menu-010-btn[aria-expanded=true]{background-color:#bbb199 !important; color:#fff !important;}
.menu-011-btn:hover, .menu-011-btn:active, .menu-011-btn:focus, .menu-011-btn.active, .open > .menu-011-btn:focus, .open > .menu-011-btn[aria-expanded=true]{background-color:#a3001b !important; color:#fff !important;}
.menu-012-btn:hover, .menu-012-btn:active, .menu-012-btn:focus, .menu-012-btn.active, .open > .menu-012-btn:focus, .open > .menu-012-btn[aria-expanded=true]{background-color:#dd0011 !important; color:#fff !important;}
.menu-001-btn.active, .menu-002-btn.active, .menu-003-btn.active, .menu-004-btn.active, .menu-005-btn.active, .menu-006-btn.active, .menu-007-btn.active, .menu-008-btn.active, .menu-009-btn.active, .menu-010-btn.active, .menu-011-btn.active, .menu-012-btn.active{opacity:1;}
.menue-001-more-btn, .menue-004-more-btn{color:#fff;}
.menue-001-more-btn:hover, .menue-001-more-btn:active, .menue-001-more-btn:focus{color:#cc0022; background:#fff;}
.menue-004-more-btn:hover, .menue-004-more-btn:active, .menue-004-more-btn:focus{color:#8b0000; background:#fff;}

/* knowledge keyword link - button */
.color-key-btn-002{border-bottom:1px solid #11aa00 !important} /* inews */
.color-key-btn-002:hover, .color-key-btn-002:focus, .color-key-btn-002:active{color:#11aa00 !important} /* inews */
.color-key-btn-003{border-bottom:1px solid #ff7700 !important} /* invest */
.color-key-btn-003:hover, .color-key-btn-003:focus, .color-key-btn-003:active{color:#ff7700 !important} /* invest */
.color-key-btn-004{border-bottom:1px solid #8b0000 !important} /* china */
.color-key-btn-004:hover, .color-key-btn-004:focus, .color-key-btn-004:active{color:#8b0000 !important} /* china */
.color-key-btn-005{border-bottom:1px solid #6600cc !important} /* option */
.color-key-btn-005:hover, .color-key-btn-005:focus, .color-key-btn-005:active{color:#6600cc !important} /* option */
.color-key-btn-006{border-bottom:1px solid #ee1111 !important;} /* topick */
.color-key-btn-006:hover, .color-key-btn-006:focu, .color-key-btn-006:active{color:#ee1111 !important;} /* topick */
.color-key-btn-007{border-bottom:1px solid #0066cc !important;} /* epc */
.color-key-btn-007:hover, .color-key-btn-007:focus, .color-key-btn-007:active{color:#0066cc !important;} /* epc */
.color-key-btn-008{border-bottom:1px solid #fffaf1 !important;} /* feature */
.color-key-btn-008:hover, .color-key-btn-008:focus, .color-key-btn-008:active{color:#fffaf1 !important;} /* feature */
.color-key-btn-009{border-bottom:1px solid #113388 !important;} /* video */
.color-key-btn-009:hover, .color-key-btn-009:focus, .color-key-btn-009:active{color:#113388 !important;} /* video */

/* row equal */
.row-eq-height{float:none; margin-left:-15px; margin-right:-15px;}
@media (min-width: 992px){
.row-eq-height{display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex; flex-wrap:wrap;}
.row-eq-height > [class^='col-']{display:flex; flex-direction:column; /*height:100%;*/}
.row-eq-height > .separate-line:after{content:''; display:block; margin-top:8px; margin-bottom:8px; border-bottom:1px solid #dfdfdf;}
.row-eq-height > .separate-line:nth-child(2n+1){border-right:1px solid #dfdfdf;}
.row-eq-height > .separate-line:nth-last-child(-n+2):after{content:none;}
}

/* column region - column 1 region */
.column-1-region{float:left; display:block; position:relative; clear:both;}
.column-1-region:after{float:left; content:''; display:block; width:100%; margin:15px 0; border-bottom:1px solid #dfdfdf;}
/* column region - column 1 region 01 */
.column-1-region-01:after{float:left; display:block; content:''; width:100%; margin:8px 0; border-bottom:1px solid #dfdfdf; clear:both;}
/* column region - column 2 region 00 */
.column-2-region-00 [class^="article-listing-"]:after{content:none;}
.column-2-region-00 [class^="col-"]:after{content:''; float:left; display:block; width:100%; margin:8px 0; border-bottom:1px solid #dfdfdf; clear:both;}
@media (min-width: 992px){
.column-2-region-00:after{float:left; content:''; display:block; width:100%; margin:8px 15px; border-bottom:1px solid #dfdfdf;}
.column-2-region-00 [class^="col-"]:nth-child(2n-1){border-right:1px solid #dfdfdf;}
.column-2-region-00 [class^="col-"]:last-child:after, .column-2-region-00 [class^="col-"]:nth-last-child(2):after{content:none;}
}
/* column region - column 2 region 01 */
.column-2-region-01 [class^="article-listing-"]:after{content:none;}
.column-2-region-01	> div:first-child [class^="article-listing-"] .listing-relative-article{display:none;}
.column-2-region-01 > div:last-child [class^="col-"]:last-child [class^="article-listing-"]:after{content:none;}
.column-2-region-01 > div:last-child [class^="article-listing-"]{float:left; width:100%;}
.column-2-region-01 > div:last-child [class^="article-listing-"] .listing-content-container{position:static; position:initial; height:100%;}
.column-2-region-01 > div:last-child [class^="article-listing-"] .listing-image-container{display:none;}
.row-eq-height.column-2-region-01 > .separate-line:first-child:after{content:''; float:left; display:block; width:100%; margin-top:8px; margin-bottom:8px; border-bottom:1px solid #dfdfdf; clear:both;}
.row-eq-height.column-2-region-01 > div .separate-line:after{content:''; float:left; display:block; width:100%; margin-top:8px; margin-bottom:8px; border-bottom:1px solid #dfdfdf; clear:both;}
.row-eq-height.column-2-region-01 > div .separate-line:last-child:after{content:none;}
@media (min-width: 360px){
.column-2-region-01 > div:last-child [class^="article-listing-"] .listing-image-container{display:block; position:inherit;}
}
@media (min-width: 992px){
.column-2-region-01 > div:last-child [class^="article-listing-"] .listing-title{padding-bottom:0;}
.column-2-region-01 > div:last-child [class^="article-listing-"] .listing-image-container{margin:0;}
.column-2-region-01 > div:last-child [class^="article-listing-"] .listing-information-container{left:inherit;}
.row-eq-height.column-2-region-01 > .separate-line:nth-child(2n+1){border-right:0;}
.row-eq-height.column-2-region-01 > div .separate-line:last-child:after{content:'';}	
}
@media (min-width: 1200px){
.column-2-region-01:after{float:left; content:''; display:block; width:100%; margin:8px 15px; border-bottom:1px solid #dfdfdf;}
.column-2-region-01	> div:first-child [class^="article-listing-"]{height:100%;}
.column-2-region-01	> div:first-child [class^="article-listing-"] .listing-image-container{float:left; width:100%; margin-left:0; margin-right:0; margin-bottom: 15px;}
.column-2-region-01	> div:first-child [class^="article-listing-"] .listing-content-container{margin:0; height:100%;}
.column-2-region-01	> div:first-child [class^="article-listing-"] .listing-title{float:left;}
.column-2-region-01	> div:first-child [class^="article-listing-"] .listing-lead{float:left;}
.column-2-region-01 > div:last-child [class^="article-listing-"] .listing-information-container{position:absolute; bottom:0; padding-bottom:0;}
.row-eq-height.column-2-region-01 > .separate-line:first-child:after{content:none;}
.row-eq-height.column-2-region-01 > .separate-line:nth-child(2n+1){border-right:1px solid #dfdfdf;}
.row-eq-height.column-2-region-01 > div .separate-line:last-child:after{content:none;}
}

/* column region - column 2 region 02 */
.row-eq-height.column-2-region-02 > .separate-line:last-child:after{content:none;}
@media (min-width: 992px){
.row-eq-height.column-2-region-02{display:block;}
.row-eq-height.column-2-region-02 > .separate-line:nth-child(2n+1){border:0;}
.row-eq-height.column-2-region-02 > [class^='col-']{display:block;}
.column-2-region-02 [class^="col-"]:nth-last-child(2):after{content:'';}
}
@media (min-width: 1200px){
.row-eq-height.column-2-region-02{display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex; flex-wrap:wrap;}
.row-eq-height.column-2-region-02 > .separate-line:nth-child(2n+1){border-right:1px solid #dfdfdf;}
.row-eq-height.column-2-region-02 > [class^='col-']{display:flex; flex-direction:column;}
.column-2-region-02 [class^="col-"]:last-child:after, .column-2-region-02 [class^="col-"]:nth-last-child(2):after{content:none;}
}

/* column region - column 2 region 03 */
.row-eq-height.column-2-region-03 > [class^="col-"]{height:auto;}

/* column region - column 2 region 04 - realtime free news widget */
@media (min-width:992px){
.column-2-region-04:after{content:''; float:left; display:block; width:100%; margin:8px 15px; border-bottom:1px solid #dfdfdf;}
.column-2-region-04 > [class^="col-"] [class^="col-"]:last-child [class^="article-listing-"]:after{content:none;}
.column-2-region-04 > [class^="col-"]{border-right:1px solid #dfdfdf;}
.column-2-region-04 > [class^="col-"]:last-child{border-right:0;}
}

/* column region - column 2 region 05 */
.column-2-region-05 > [class^="col-"]:first-child:after{content:""; float:left; width:100%; margin:8px 0; border-bottom:1px solid #dfdfdf;}
@media (min-width:1200px){
.column-2-region-05{flex-direction:row-reverse;}
.column-2-region-05:after{content:""; float:left; width:100%; margin:8px 15px; border-bottom:1px solid #dfdfdf;}
.column-2-region-05 > [class^="col-"]:first-child{border-left:1px solid #dfdfdf;}
.column-2-region-05 > [class^="col-"]:first-child:after{content:none;}
.column-2-region-05 > [class^="col-"] [class^="article-listing-"]:after{content:none;}
}

/* column region - column 2 region 06 */
.row-eq-height.column-2-region-06 .separate-line:after{float:left; width:100%;}
@media(min-width:768px){
.column-2-region-06 > [class^="col-"]:first-child{border-right:1px solid #dfdfdf;}
.row-eq-height.column-2-region-06 > .separate-line:nth-last-child(-n+2):after{content:"";}
}
@media(min-width:1200px){
.column-2-region-06 > [class^="col-"]:first-child{border-right:none;}
.row-eq-height.column-2-region-06 > .separate-line:last-child:after{content:none;}
}

/* column region - column 3 region 00 */
.column-3-region-00 [class^="article-listing-"]:after{content:none;}
.column-3-region-00 [class^="col-"]:after{content:''; float:left; display:block; width:100%; margin:8px 0; border-bottom:1px solid #dfdfdf; clear:both;}

@media (min-width: 992px){
.column-3-region-00:after{content:''; float:left; display:block; width:100%; margin:8px 15px; border-bottom:1px solid #dfdfdf;}
.column-3-region-00 [class^="col-"]{border-right:1px solid #dfdfdf;}
.column-3-region-00 [class^="col-"]:nth-child(2n){border-right:0;}
.column-3-region-00 [class^="col-"]:last-child(-n+2):after{content:none;}
}

@media (min-width: 1200px){
.column-3-region-00 [class^="col-"]:nth-child(2n){border-right:1px solid #dfdfdf;}
.column-3-region-00 [class^="col-"]:nth-child(3n){border-right:0;}
.column-3-region-00 [class^="col-"]:last-child(-n+3):after{content:none;}
.row-eq-height.column-3-region-00 > .separate-line:nth-last-child(-n+3):after{content:none;}
}

/* column region - column 3 region 01 */
.column-3-region-01 [class^="article-listing-"]:after{content:none;}
.column-3-region-01 [class^="col-"]:after{content:''; float:left; display:block; width:100%; margin:8px 0; border-bottom:1px solid #dfdfdf; clear:both;}

@media (min-width: 992px){
.column-3-region-01:after{content:''; float:left; display:block; width:100%; margin:8px 15px; border-bottom:1px solid #dfdfdf;}
.column-3-region-01 [class^="col-"]{border-right:1px solid #dfdfdf;}
.column-3-region-01 [class^="col-"]:nth-child(2n){border-right:0;}
.row-eq-height.column-3-region-01 > .separate-line:nth-last-child(2):after{content:"";}
}

@media (min-width: 1200px){
.column-3-region-01 [class^="col-"]:nth-child(2n){border-right:1px solid #dfdfdf;}
.column-3-region-01 [class^="col-"]:nth-child(3n){border-right:0;}
.column-3-region-01 [class^="col-"]:last-child(-n+3):after{content:none;}
.row-eq-height.column-3-region-01 > .separate-line:nth-last-child(-n+3):after{content:none;}
}

/* column region - column 3 region 02 */
.column-3-region-02{padding-right:0;}
.column-3-region-02 > [class^="col-"]{margin-bottom:15px;}
@media(min-width:992px){
.column-3-region-02{padding-right:15px;}
.column-3-region-02 > [class^="col-"]{padding-right:0px;}
}

/* column region - column 3 region 03 */
.column-3-region-03{float:left; margin-bottom:8px;}
.column-3-region-03 [class^="article-listing-"]:after{content:none;}
.column-3-region-03 [class^="col-"]:after{content:''; float:left; display:block; width:100%; margin:8px 0; border-bottom:1px solid #dfdfdf; clear:both;}
.column-3-region-03 [class^="col-"]:last-child:after{content:none;}

@media(min-width:992px){
.column-3-region-03:after{content:none;}
.column-3-region-03 [class^="col-"]{border-right:1px solid #dfdfdf;}
.column-3-region-03 [class^="col-"]:nth-child(2n){border-right:0;}
.row-eq-height.column-3-region-03 > .separate-line:nth-child(2n+1){border-right:0;}
}

@media(min-width:1200px){
.column-3-region-03 [class^="col-"]:nth-child(2n){border-right:1px solid #dfdfdf;}
.column-3-region-03 [class^="col-"]:nth-child(3n){border-right:0;}
.column-3-region-03 [class^="col-"]:last-child(-n+3):after{content:none;}
.row-eq-height.column-3-region-03 [class^="col-"]:first-child{border-right:1px solid #dfdfdf;}
.row-eq-height.column-3-region-03 > .separate-line:nth-last-child(-n+3):after{content:none;}
}

/* column region - column 3 region 04 */
.column-3-region-04 [class^="article-listing-"]:after{float:left; content:''; width:100%; height:9px; margin-bottom:6px; background-image:-webkit-repeating-radial-gradient(center center, rgba(0,34,51,.2), rgba(0,34,51,.2) 1px, transparent 1px, transparent 100%); background-image:-moz-repeating-radial-gradient(center center, rgba(0,34,51,.2), rgba(0,34,51,.2) 1px, transparent 1px, transparent 100%); background-image:-ms-repeating-radial-gradient(center center, rgba(0,34,51,.2), rgba(0,34,51,.2) 1px, transparent 1px, transparent 100%); background-image:repeating-radial-gradient(center center, rgbargba(0,34,51,.2), rgba(0,34,51,.2) 1px, transparent 1px, transparent 100%); -webkit-background-size:3px 3px; -moz-background-size:3px 3px; background-size:3px 3px; clear:both;}
.column-3-region-04 [class^="col-"]:after{display:none;}
@media (min-width: 768px){
.column-3-region-04 [class^="col-"]{border-right:1px solid #dfdfdf;}
.column-3-region-04 [class^="col-"]:nth-child(2n){border-right:0;}
.column-3-region-04 [class^="col-"]:last-child(-n+2):after{content:none;}
}
@media (min-width: 1200px){
.column-3-region-04 [class^="col-"]:nth-child(2n){border-right:1px solid #dfdfdf;}
.column-3-region-04 [class^="col-"]:nth-child(3n){border-right:0;}
.column-3-region-04 [class^="col-"]:last-child(-n+3):after{content:none;}
.row-eq-height.column-3-region-04 > .separate-line:nth-last-child(-n+3):after{content:none;}
}

/* column region - column 3 region 05 */
.column-3-region-05 [class^="col-"]:last-child [class^="article-listing-"]:after{content:none;}
.row-eq-height.column-3-region-05 .separate-line:after{float:left; width:100%;}
@media (min-width:768px){
.column-3-region-05:after{float:left; content:''; display:block; width:100%; margin:8px 15px; border-bottom:1px solid #dfdfdf;}
.column-3-region-05 [class^="col-"]{border-right:1px solid #dfdfdf;}
.column-3-region-05 [class^="col-"]:nth-child(2n){border-right:0;}
.row-eq-height.column-3-region-05{display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex; flex-wrap:wrap;}
.row-eq-height.column-3-region-05 > [class^='col-']{display:flex; flex-direction:column;}
.row-eq-height.column-3-region-05 > .separate-line:nth-last-child(-n+2):after{content:none;}
}
@media (min-width:992px){
.row-eq-height.column-3-region-05 > .separate-line:nth-last-child(-n+2):after{content:"";}
.row-eq-height.column-3-region-05 > [class^="col-"]:nth-last-child(-n+2).separate-line:after{content:none;}	
}
@media (min-width:1200px){
.column-3-region-05 [class^="col-"]:nth-child(2n){border-right:1px solid #dfdfdf;}
.column-3-region-05 [class^="col-"]:nth-child(3n){border-right:0;}
.row-eq-height.column-3-region-05 > [class^="col-"]:nth-last-child(-n+3).separate-line:after{content:none;}
}

/* column region - column 3 region 06 */
.column-3-region-06 [class^="col-"]:last-child [class^="article-listing-"]:after{content:none;}
.row-eq-height.column-3-region-06 .separate-line:after{float:left; width:100%;}
@media (min-width:768px){
.column-3-region-06 [class^="col-"]:nth-child(2n){border-right:0;}
.row-eq-height.column-3-region-06{display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex; flex-wrap:wrap;}
.row-eq-height.column-3-region-06 > [class^='col-']{display:flex; flex-direction:column;}
}
@media (min-width:992px){
.row-eq-height.column-3-region-06 > .separate-line:nth-child(2n+1){border-right:0;}
.row-eq-height.column-3-region-06 > .separate-line:nth-last-child(-n+2):after{content:"";}
}
@media (min-width:1200px){
.column-3-region-06:after{float:left; content:''; display:block; width:100%; margin:8px 15px; border-bottom:1px solid #dfdfdf;}
.column-3-region-06 [class^="col-"]:nth-child(2n){border-right:1px solid #dfdfdf;}
.column-3-region-06 [class^="col-"]:nth-child(3n){border-right:0;}
.row-eq-height.column-3-region-06 > .separate-line:nth-child(2n+1){border-right:1px solid #dfdfdf;}
.row-eq-height.column-3-region-06 > .separate-line:nth-child(3n){border-right:0;}
.row-eq-height.column-3-region-06 > [class^="col-"]:nth-last-child(-n+3).separate-line:after{content:none;}
}

/* column region - column 4 region 01 */	
.column-4-region-01 [class^="col-"]:after{content:''; float:left; display:block; width:100%; margin:8px 0; border-bottom:1px solid #dfdfdf; clear:both;}		
@media(min-width:992px){
.column-4-region-01:after{content:''; float:left; display:block; width:100%; margin:8px 15px; border-bottom:1px solid #dfdfdf;}
.column-4-region-01 [class^="col-"]:nth-child(odd){border-right:1px solid #dfdfdf;}
.column-4-region-01 [class^="col-"]:nth-last-child(-n+2):after{content:none;}
}
@media(min-width:1200px){
.column-4-region-01 [class^="col-"]:after{content:none;}
.column-4-region-01 [class^="col-"]{border-right:1px solid #dfdfdf;}
.column-4-region-01 [class^="col-"]:last-child{border-right:0;}
.column-4-region-01 [class^="article-listing-"]{min-height:208px; max-height:208px;}
}

/* column region - column 4 region 02 */
.column-4-region-02 > [class^="col-"]{border-right:1px solid #dfdfdf;}
.column-4-region-02 > [class^="col-"]:nth-child(2n){border-right:none;}
.column-4-region-02 > [class^="col-"]:nth-child(-n+1):last-child{border-right:none;}
.column-4-region-02 > [class^="col-"]:nth-last-child(-n+2) [class^="article-listing-"]:after{content:none;}
.column-4-region-02 > [class^="col-"]:nth-child(2n+1):nth-last-child(-n+2) [class^="article-listing-"],
.column-4-region-02 > [class^="col-"]:nth-child(2n+1):nth-last-child(-n+2) ~ [class^="col-"] > [class^="article-listing-"]{padding-bottom:0;}
@media (min-width: 1200px){
.column-4-region-02 > [class^="col-"]:nth-child(2n){border-right:1px solid #dfdfdf; height:auto;}
.column-4-region-02 > [class^="col-"]:nth-child(4n){border-right:none;}
.column-4-region-02 > [class^="col-"]:nth-child(-n+3):last-child{border-right:none;}
.column-4-region-02 > [class^="col-"]:nth-last-child(-n+4) [class^="article-listing-"]:after{content:none;}
.column-4-region-02 > [class^="col-"]:nth-child(4n+1):nth-last-child(-n+4) [class^="article-listing-"],
.column-4-region-02 > [class^="col-"]:nth-child(4n+1):nth-last-child(-n+4) ~ [class^="col-"] > [class^="article-listing-"]{padding-bottom:0;}
}

/* column region - column 4 region 03 */
.column-4-region-03 [class^="col-"]:after{content:''; float:left; display:block; width:100%; margin:8px 0; border-bottom:1px solid #dfdfdf; clear:both;}	
@media(min-width:992px){
.column-4-region-03:after{content:''; float:left; display:block; width:100%; margin:8px 15px; border-bottom:1px solid #dfdfdf;}
.column-4-region-03 [class^="col-"]:nth-child(odd){border-right:1px solid #dfdfdf;}
.column-4-region-03 [class^="col-"]:nth-child(4n){border-right: 0;}
}
@media(min-width:1200px){
.column-4-region-03 [class^="col-"]:after{content:''; width:100%; display:inline-block; border-bottom:1px solid #dfdfdf;}
.column-4-region-03 [class^="col-"]{border-right:1px solid #dfdfdf;}
.column-4-region-03 [class^="col-"]:last-child{border-right:0;}
.column-4-region-03 [class^="col-"]:nth-last-child(-n+4):after{content:none;}
.column-4-region-03 [class^="article-listing-"]{min-height:208px; max-height:208px;}
}

/* column region - column 4 region 04 */	
.column-4-region-04 [class^="col-"]:after{content:''; float:left; display:block; width:100%; margin:8px 0; border-bottom:1px solid #dfdfdf; clear:both;}		
@media(min-width:992px){
.column-4-region-04:after{content:''; float:left; display:block; width:100%; margin:8px 15px; border-bottom:1px solid #dfdfdf;}
.column-4-region-04 [class^="col-"]:nth-child(odd){border-right:1px solid #dfdfdf;}
.column-4-region-04 [class^="col-"]:nth-last-child(-n+2):after{content:none;}
}
@media(min-width:1200px){
.column-4-region-04 [class^="col-"]:after{content:none;}
.column-4-region-04 [class^="col-"]{border-right:1px solid #dfdfdf;}
.column-4-region-04 [class^="col-"]:last-child{border-right:0;}
}

/* column 4 region 05 - recommendation 03 widget */
.column-4-region-05 > [class^="col-"]:last-child [class^="article-listing-"]:after{content:none;}
@media(min-width:768px){
.column-4-region-05 > [class^="col-"]{border-right:1px solid #dfdfdf;}
.column-4-region-05 > [class^="col-"]:nth-child(2n){border-right:none;}
.column-4-region-05 > [class^="col-"]:nth-last-child(2) [class^="article-listing-"]:after{content:none;}
}
@media(min-width:992px){
.row-eq-height.column-4-region-05 > [class^='col-']{display:block; flex-direction:inherit;}
}
@media(min-width:1200px){
.column-4-region-05 > [class^="col-"]{padding-left:0; border-right:none;}
.column-4-region-05 > [class^="col-"]:last-child{padding-right:0;}
}

/* section epaper region 01 */
.section-epaper-region-01{float:left; margin-bottom:30px;}
@media (min-width: 992px){
.section-epaper-region-01 [class^="col-"]:nth-child(2n-1){border-right:0;}
.section-epaper-region-01 [class^="col-"]:nth-last-child(2):after{content:'';}
}
@media (min-width: 1200px){
.section-epaper-region-01 [class^="col-"]:nth-child(2n-1){border-right:1px solid #dfdfdf;}
.section-epaper-region-01 [class^="col-"]:nth-last-child(2):after{content:none;}
}

/* section emagazine region 01 */
.section-emagazine-region-01 [class^="article-listing-"]:after{content:'';}
.section-emagazine-region-01 [class^="col-"]:after{content:none;}
.section-emagazine-region-01 > div:last-child > library:last-child [class^="article-listing-"]:after{content:none;}
.section-emagazine-region-01 > div:last-child{margin-top:15px;}
@media (min-width: 992px){
.section-emagazine-region-01 [class^="col-"]:nth-child(2n-1){border-right:0;}
.section-emagazine-region-01:after{content:none;}
}
@media (min-width: 1200px){
.section-emagazine-region-01 [class^="col-"]:nth-child(2n-1){border-right:1px solid #dfdfdf;}
.section-emagazine-region-01 > div > library:last-child [class^="article-listing-"]:after{content:none;}
.section-emagazine-region-01 > div:last-child{margin-top:0;}
}

/* main content region */
.main-content-region{margin-top:0 !important;}

/* header top region */
.header-top-region{/*height:30px; color:#fff; background:none;*/ display:none;}
.header-top-banner-region{display:none;}
.header-bottom-region{display:none;}
.header-menu-region, .progress-title-region{-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); z-index:1000;}
.header-menu-region.affix-top, .progress-title-region.affix-top{position:relative;}
.header-menu-region.affix, .progress-title-region.affix{width:100%; top:0; left:0; right:0; /*box-shadow:0px 0px 8px 2px #E3E3E3;*/ z-index:20;}
.progress-title-region.affix{box-shadow:none;}
.header-menu-region.affix .header-nav-widget .main-menu{border:none;}
.header-menu-region.affix-top .header-main-menu-region, .progress-title-region.affix-top .progress-title-bar-region{background-color:transparent !important;}
.progress-title-region.affix .progress-title-bar-region{background:rgba(51,51,51,.85);}

.header-mmenu-region{background-image:linear-gradient(to right,  #ff5148 0%, #ff5b27 51%, #ff630a 100%);}
/*.header-mmenu-region:after{display:block; content:''; width:100%; padding-right:15px; padding-left:15px; margin-right:auto; margin-left:auto; border-bottom:1px dotted #ccc;}*/
.header-menu-region.affix .header-carousel-menu-region:after{display:block; content:''; width:100%; padding-right:15px; padding-left:15px; margin-right:auto; margin-left:auto; /*border-bottom:1px dotted #ccc;*/}
/*.header-toolbar-region:after{display:block; content:''; width:100%; padding-right:15px; padding-left:15px; margin-right:auto; margin-left:auto; border-bottom:1px dotted #ccc;}*/
.header-menu-region.affix .header-toolbar-region:after{content:none;}
.header-menu-region.affix .header-nav-widget .main-menu .nav > li > a{color:#fff;}

@media (min-width:992px){
.header-top-region{height:40px; background:#cc0022;}
.header-menu-region.affix .header-main-menu-region{background:#484848;}
.header-top-banner-region{display:block;}
.header-bottom-region{display:block;}	
.header-mmenu-region:after{border-bottom:0;}
.header-toolbar-region:after{border-bottom:0;}
}

/* footer region */
.footer-banner-region{padding-left:0; padding-right:0;}
@media (min-width:350px){
.footer-banner-region{padding-left:15px; padding-right:15px;}
}

/* section widget */
.section-01-widget:after, .section-02-widget:after, .section-03-widget:after, .section-05-widget:after, .section-06-widget:after, .section-07-widget:after{content:''; display:block; padding-bottom:15px; margin-bottom:15px; border-bottom:1px solid #dfdfdf;}

/*scroll to top 
.scrollToTop{position:fixed; display:none; bottom:30px; right:30px; width:50px; height:50px; border-radius:50%; text-align:center; text-decoration:none; opacity:0.8; z-index:10;}
.scrollToTop > span{font-size:16px; line-height:50px; color:#fff;}*/
